@import '~nativescript-theme-core/css/forest.css';

* {
    font-family: Rubik;
}

.btn {
    font-size: 18;
}

.fancy {
    font-family: Lobster;
}

.fa {
    font-family: FontAwesome;
}

.list-icon {
    background-color: #efefef;
    border-radius: 10;
    padding: 10;
    margin: 20;
    margin-right: 0;
    text-align: center;
    vertical-align: center;
}

.list-text {
    vertical-align: center;
    padding-left: 20;
    color: #555;
    width: 100%;
}

.table-header {
    font-size: 24;
    font-weight: bold;
    text-align: center;
    border-width: 1;
    border-color: lightgray;
}

.table-cell {
    font-size: 20;
    font-weight: bold;
    text-align: center;
    border-width: 1;
    border-color: lightgray;
}

.fadeInAnimation {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slideLeftAnimation {
    animation-name: slideLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes slideLeft {
    0% {
        transform: translate(300, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}


Label.mlkit-result {
  margin: 5;
  text-align: left;
  color: white;
}

.mask {
  background-color: rgba(0,0,0,0.2);
}

.frame-top-left {
  border-top-width: 3;
  border-left-width: 3;
  border-color: #51B8ED;
}

.frame-top-right {
  border-top-width: 3;
  border-right-width: 3;
  border-color: #51B8ED;
}

.frame-bottom-left {
  border-bottom-width: 3;
  border-left-width: 3;
  border-color: #51B8ED;
}

.frame-bottom-right {
  border-bottom-width: 3;
  border-right-width: 3;
  border-color: #51B8ED;
}

.swing {
  animation-name: swingAnimation;
  animation-duration: 6s;
  animation-iteration-count: 10;
  animation-timing-function: cubic-bezier(0.42,0,1,1);
}

@keyframes swingAnimation {
  0% {
      transform: translate(0, 0);
  }
  50% {
      transform: translate(0, 300);
  }
  100% {
      transform: translate(0, 0);
  }
}

.close-btn {
  border-radius: 15;
  background-color: rgba(0, 0, 0, 0.2);
  height: 25;
  width: 25;
  text-align: center;
  vertical-align: top;
  margin-top: 10;
  color: white;
  padding: 3;
}

.c-white {
    color: white;
}
